
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>All Tasks</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td><a  href="{% url 'view_task' task.id %}">{{ task.title }}</a></td>
          <td>{{ task.description }}</td>
          <td>{{ task.due_date }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.category.name }}</td>
          <td>
            {% for tag in task.tags.all %}
              {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td><a href="{% url 'delete_task' task.id %}">Delete</a></td>
          <td><a href="{% url 'edit_task' task.id %}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
